@import './libs/variables.postcss';
@import './libs/mixins.postcss';
@import './libs/fonts.postcss';

@import './base/base.postcss';

@import './components/about.postcss';
@import './components/navbar.postcss';
@import './components/intro.postcss';
@import './components/upcomingMovies.postcss';
@import './components/ratings.postcss';
@import './components/topMovies.postcss';
@import './components/movieDetails.postcss';
@import './components/searchMovie.postcss';



