
body {
    background: linear-gradient(to right,$background 55%, $primary 90%);
    color : $text-primary;

}

.headline-large{
    font-size : $font-headline-size-large;
    font-weight : 700;
    text-align : center;
}

.subheadline-medium{
    font-size : $font-size-medium;
    font-weight : 400;
    text-align : center;
}